body {
  background-color: black;
}

.text {
  color: #7A737A;
  font-size: 1.6em;
}

.container {
  text-align: center;
}

.oneline {
  margin: 20px;
}

.index-images {
  padding: 10px;
  height: 200px;
  width: 440px;
}

p {
  font-size: 10px;
  padding: 5px;
}

#realness {
  font-size: 15px;
}

#invitation {

}

#small_text {
  font-size: 10px;
  margin: 0px;
}

a:link {
  color: gray;
}

a:visited {
  color: gray;
}

#word_art {
  animation: .4s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

/*@media screen and (max-width: 130 px) {*/

/*}*/

.navbar ul {
  margin: 0;
  padding: 20px;
  width: 100px;
  position: fixed;
}

.navbar li a{
  display: block;
  color: grey;
  padding: 8px 30px;
  text-decoration: none;
    border: 2px dotted grey;
    text-align: center;
}

.navbar li a:hover {
  background-color: #555;
  color: white;
}

/*for read.html specifically*/
.the-welcome-title {
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  padding: 30px;
}

.blog-container {
  display: flex;
  /*width: 300px;*/
  flex-wrap: wrap;
  justify-content: center;
/*   align-items: center; */

  /*box-sizing: border-box;*/
}

.blog-title {
  font-size: 25px;
  text-align: center;
  margin: 5px; /*not sure if this should be margin or padding*/
  font-family: 'Fjalla One', sans-serif;
}

.post-container {
  /*border: 3px dashed grey;*/
  /*box-shadow: 5px 10px red;/*, 5px 10px green;*/
  padding: 40px;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.post-text {
  font-size: 15px;

}

#more {display: none;
}

button {
box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ddd;
  padding: 10px;
  font-weight: 700;
  margin-top: 20px;
  &:hover;
    background: darken(#ddd,5%);
}

#google-images { /*Q: are not aligned directly in center*/
  max-width: 100%;
  align-self: center;
  margin: 10px;
}

